### Test environment variables ###

TEST_GENESIS_PATH       = '/home/user_9999/cardano/config/shelley-genesis.json'
TEST_WORKSPACE_DIR      = '/tmp/CardanoJSTest'
TEST_ERA                = 'allegra'
TEST_NETWORK            = 'mainnet'

TEST_STAKE_ADDRESS      = 'stake1u8t3g0rj5jt78kav8sjnch7uwz8m477alluuwg4u3lnxl7g5gnts0'
TEST_PAYMENT_ADDRESS    = 'addr1qx3qjsvfn9l6f9nhc3l888dnu3k2uzupzyv48xskketr0dy28upyuhs935swqcj65r2nxhdz7jnnk30sa600upkwem3qd9v20n'

TEST_ACCOUNT_NAME       = 'test_account'
TEST_POOL_NAME          = 'test_pool'
TEST_POOL_ID            = '73096f5303f3626021bf17f13903763eea9a043642cd305eb18e9948'
